/* basic css sheet to style html file */

/* G ------- global ------- */
body {
    font-family: sans-serif;
    font-size: 15px;
    color: #505050
}

/* ------ title text ------ */
h1 {
    color: rgb(255, 168, 36);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 200px;
}

/* ------ main boxes ------ */
#leftBox, #middleBox, #rightBox{
    display: inline-block;
    vertical-align: top;
    align-items: center;
    width: 260px;
    min-height: 250px;
    margin: 1px;
    padding: 0px 5px 0px 5px;
    margin: 22px 0px 0px 0px;
    
}

#leftBox {
    width: 210px;
    border: none;
}

#middleBox {
    border-left: thin solid grey;
    border-right: thin solid grey;
}
#rightBox{

}

/* ----- user input boxes */
div.userInput{
    height: 300px;
}

/* ----- Reset Button box ----- */
div#resetButtonDiv{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

/* ----- Preset Selector ---- */
select {
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid darkgrey;
    text-align: center;
    font-weight: 700;
    transition: transform 0.2s;
}
select:hover{
    background-color: darkgrey;
    transition: scale 0.1s background-color 0.3s, border 0.3s;
    transform: scale(1.05);
}
/* Style the options */
option {
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid #ccc;

}

/* ----- input string box ----- */
div#inputString{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-top: thin solid grey;
    align-items: center;
}

/* ----- Simulation Speed Slider */
.slider{
    display: flex;
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    height: 22px;
    border-radius: 100px; 
    background: #ccc;
    margin-right: 5px;
    margin-top: 8px;
    transition: transform 0.2s;
}
.slider:hover{
    border: solid 2px rgb(109, 109, 109);
    transition: scale 0.1s background-color 0.3s, border 0.3s;
    transform: scale(1.02);
}
#simulationSpeed{
    display: flex;
}

/* ---- Mode Switch ---*/
#modeSwitchDiv{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-right: 23px;
}



/* ----- log message fields ----- */
.logMessages{
    max-height: 300px;
    overflow: auto;
    border-top: thin solid grey;
    padding: 5px;
}
.logMessage{
    margin: 0;
    padding-left: 5px;
}

/* ----- State Creation Box ----- */
#stateInput{
    padding-top: 35px;
    height: 265px;
}
/* State Name Box: inherited from textFieldDiv */
/* --- State ID box (also for Transition tab) --- */
.stateIdDiv {
    display: flex;
    justify-content: end;
}
#stateIdState{
    margin-bottom: 6px;
}
#stateId:disabled{
    color: #000000;
}
.stateIdLabel {
    display: flex;
    align-items: center;
}


/* --- on off switch  code adapted from https://alvarotrigo.com/blog/toggle-switch-css/ --- */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.checkboxLabel {
    cursor: pointer;
    text-indent: 60px;
    width: 40px;
    height: 22px;
    background: #ccc;
    display: block;
    border-radius: 100px;
    border: solid 2px #ccc;
    position: relative;
}
input[type=checkbox]:enabled:hover + .checkboxLabel{
    border: solid 2px rgb(109, 109, 109);
    transition: border 0.2s;
    transform: scale(1.05);
}

input[type=checkbox]:disabled + .checkboxLabel{
    background-color: #ff9f9f88;
    border: 2px solid rgb(194, 194, 194);
}

.checkboxLabel:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 10px;
    transition: 0.2s;
}

input[type=checkbox]:checked + .checkboxLabel {
    background: #bfdf56;
    border: solid 2px #bfdf56;
}

input[type=checkbox]:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
/* slider div */
.sliderDiv {
    display: flex;
    justify-content: center;
    padding: 5px 100px 5px 0px;
}

/* --- create state button --- */
#createStateButtonDiv{
    text-align: center;

    margin-bottom: 10px;
}

/* ----- Transition Creation box ----- */
/* Read Label */
.readLabel{
    margin: 0px 0px 5px 0px;
    text-align: center;
}
/* Number box inherited from State ID number box */
/* FromState field */
#fromStateId0:disabled{
    color: #000000;
}
#fromStateId1:disabled{
    color: #000000;
}
/* --- create transition button --- */
#createTransitionButtonDiv{
    text-align: center;
    margin-bottom: 10px;
}

  

/* G ----- text input fields ----- */
.textFieldDiv{
    display: flex;
    justify-content: end;
}
.textLabel{
    display: flex;
    align-items: center;
}
input[type="text"]{
    box-sizing: border-box;
    width: 150px;
    margin: 5px;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 8px;
    padding: 2px 5px;
}
input[type="text"]:hover{
    transform: scale(1.01);
}

/* G ----- number input fields ----- */
input[type="number"]{
    box-sizing: border-box;
    width: 150px;
    margin: 5px;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 8px;
    padding: 2px 5px;
}
input[type="number"]:enabled:hover{
    transform: scale(1.02);
}
input[type="number"]:disabled{
    border: 2px solid rgb(194, 194, 194);
    color: rgb(194, 194, 194);
}


/* G ----- regular buttons ----- */
.button {
    width: 200px;
    height: 30px;
    background-color: #bfdf56;
    font-weight: 700;
    color: white;
    border: 2px solid #adca4d;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}
.button:enabled:hover{
    background-color: #adca4d;
    border: 2px solid #adca4d;
    transition: scale 0.1s background-color 0.3s, border 0.3s;
    transform: scale(1.05);
}

.button:disabled{
    background-color: white;
    color: gray;
    border: 2px solid #ff3c004f;
}
.button:disabled:hover{
    background-color: #fff8f6;
}

/* --- Reset Button --- */
.button#resetButton{
    color: rgba(0, 0, 0, 0.815);
    background-color: #ccc;
    border: 2px solid darkgray
}
.button#resetButton:hover{
    color: rgba(0, 0, 0, 0.815);
    background-color: darkgray;
    border: 2px solid darkgray
}

/* --- Run Simulation Button --- */
#runSimulationButton{
    margin-top: 35px;
}

/* Delete Buttons */
.delete{
    background-color: rgb(219, 101, 101);
    border: 2px solid rgb(196, 52, 52);
}
.delete:enabled:hover{
    background-color: rgb(196, 52, 52);
    border: 2px solid rgb(196, 52, 52);
}

/* ----- CytoScape ----- */
#cytoscape {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 410px;
    left: 235px;
    border: dotted 1px black;
}

/* ------ overlay ----- */
